*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-100: #fdfbf8;
  --primary-200: #faf4f0;
  --primary-300: #efe8e7;
  --primary-400: #e5d8d4;
  --primary-500: #b4a29c;
  --primary-600: #9a827a;
  --primary-700: #766965;
  --primary-800: #53423c;
  --primary-900: #332621;

  --success-100: #edfaf8;
  --success-200: #c8f1ea;
  --success-300: #88e0d1;
  --success-400: #71dac8;
  --success-500: #4ed1ba;
  --success-600: #47bea9;
  --success-700: #379484;
  --success-800: #2b7366;
  --success-900: #21584e;

  --error-100: #fbf1f1;
  --error-200: #edbdbd;
  --error-300: #e49f9f;
  --error-400: #df8d8d;
  --error-500: #d77070;
  --error-600: #bc4b4b;
  --error-700: #995050;
  --error-800: #882f2f;
  --error-900: #5a2f2f;

  --pageMargin: clamp(16px, calc(40vw / 7.68), 40px);
  @media (max-width: 899px) and (min-width: 649px) {
    --pageMargin: clamp(40px, calc(80vw / 7.68), 80px);
  }
  --easing: cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
body.scrollLock {
  overflow: hidden;
  touch-action: none;
}
body {
  min-width: 320px;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Erode', serif;
  background-color: var(--primary-100);
  color: var(--primary-800);
  line-height: 150%;
  font-size: clamp(1rem, calc(18vw / 7.68), calc(18rem / 16));
}
:focus {
  outline: none;
}
:focus-visible {
  outline: 1px solid var(--primary-900);
  outline-offset: 5px;
}
main,
.max-width {
  max-width: 1200px;
  width: calc(100% - var(--pageMargin) * 2);
  margin: 0 auto;
  height: 100%;
}
svg {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
label {
  display: block;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
sup {
  font-size: 0.6em;
  vertical-align: top;
}
input,
textarea,
button,
select {
  font: inherit;
  color: inherit;
  background-color: transparent;
  appearance: none;
  border: none;
}
summary {
  cursor: pointer;
  list-style: none;
  &::marker,
  &::-webkit-details-marker {
    display: none;
  }
}
iframe {
  border: none;
  display: block;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

p {
  strong {
    background: linear-gradient(rgba(255, 255, 255, 0) 50%, var(--primary-300) 50%);
    font-weight: inherit;
  }
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 133%;
  strong {
    font-family: var(--font-city-streetwear);
    font-weight: inherit;
    font-size: 1.6em;
    line-height: 0.62;
    margin: -0.15em 4px;
  }
}
h1,
h2 {
  font-size: clamp(calc(24rem / 16), calc(26vw / 7.68), calc(36rem / 16));
}
h3 {
  font-size: calc(24rem / 16);
}

.link {
  position: relative;
  font-style: italic;
  &::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--primary-800);
    position: absolute;
    left: 0;
    bottom: -3px;
  }
  @keyframes link {
    0%,
    100% {
      transform: scaleX(1);
    }
    50% {
      transform: scaleX(0);
      transform-origin: right;
    }
    0%,
    50% {
      transform-origin: right;
    }
    51%,
    100% {
      transform-origin: left;
    }
  }
  &:hover,
  &:focus-visible {
    &::after {
      animation: link 0.8s var(--easing);
    }
  }
}

.sec-wo-margin {
  position: relative;
  &::before {
    content: '';
    width: 100vw;
    height: 100%;
    background-color: inherit;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    z-index: -1;
  }
}

.cta-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: clamp(96px, calc(144vw / 7.68), 240px);
  margin: clamp(48px, calc(64vw / 7.68), 96px) auto clamp(96px, calc(144vw / 7.68), 240px);
}

.unorderedList {
  list-style-type: none;
  li {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;
    svg {
      height: 1.5em;
    }
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
